@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
* {
  font-family: "DM Sans", sans-serif;
}
.font-sans-thin {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
}

.font-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.font-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.font-sans-semiBold {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.font-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop {
  animation: loop 20s linear infinite;
  display: flex;
}

@keyframes loop-y {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-loop-y {
  animation: loop-y 40s linear infinite;
  display: flex;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pulse-scale {
  animation: pulse-scale 2s ease-in-out infinite;
}

.animate-pulse-scale-delayed-1 {
  animation: pulse-scale 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

.animate-pulse-scale-delayed-2 {
  animation: pulse-scale 2s ease-in-out infinite;
  animation-delay: 0.4s;
}

.animate-pulse-scale-delayed-3 {
  animation: pulse-scale 2s ease-in-out infinite;
  animation-delay: 0.6s;
}

.animate-pulse-scale-delayed-4 {
  animation: pulse-scale 2s ease-in-out infinite;
  animation-delay: 0.8s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}
